* {
  box-sizing: border-box;
  margin: 0;
}
html {
  min-width: fit-content;
  min-height: fit-content;
}
body {
  background-color: cornflowerblue;
  height: 100vh;
  width: 100vw;
}
.main-title {
  background-color: white;
  text-align: center;
  margin-bottom: 50px;
  min-width: fit-content;
}
.body-container-wrapper {
  height: 75%;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
.calculator-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-radius: 10px;
  aspect-ratio: 9/16;
  min-height: 100%;
  min-width: fit-content;
}

.calculator-screen {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: black;
  margin-top: 10px;
  border-style: solid;
  flex: 1 1 25%;
  width: 90%;
  min-height: fit-content;
  min-width: fit-content;
  font-size: 5rem;
  margin-bottom: 20px;
  border-radius: 20px;
  border-color: white;
  color: white;
}

.input-container {
  display: flex;
  align-items: center;
  flex: 1 1 90%;
  width: 90%;
  padding-bottom: 20px;
}
.number-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1 1 100%;
  width: 100%;
}
.input-row {
  width: 100%;
  flex: 1 1 19%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.input-button,
.modifier-button,
.operate-button,
.decimal-button,
.clear-button,
.backspace-button,
.useless-button {
  border-style: hidden;
  border-radius: 50%;
  aspect-ratio: 1/1;
  font-weight: bolder;
  font-size: large;
  height: 100%;
  flex: 1 1 25%;
}

.zero-button {
  border-style: hidden;
  border-radius: 25% /50%;
  aspect-ratio: 2/1;
  font-weight: bolder;
  font-size: large;
  height: 100%;
  flex: 2 2 50%;
}
